<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']">Loja de Carros Reliquias </a>
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Buscar produto..."
        aria-label="Filtro"
      />
        
      <div class="dropdown">
        <button
          class="btn btn-dark dropdown-toggle"
          type="button"
          id="dropdownCarrinho"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-cart"></i>
          <span class="badge rounded-pill bg-primary">{{quantidade}}</span>
        </button>
        <ul
          class="dropdown-menu dropdown-menu-dark dropdown-menu-end"
          aria-labelledby="dropdownCarrinho"
        >
          <li class="dropdown-item" *ngIf="quantidade === 0">Carrinho vazio</li>
          <li 
          class="dropdown-item" 
          *ngFor="let item of itens"
          [routerLink]="['/produto/' + item.produto.id]"
          >
            {{ item.produto.preco | currency: "BRL" }} ({{ item.quantidade }}x)
            - {{ item.produto.nome.substr(0, 20) }}... 
        </li>
        
        <li *ngIf="quantidade > 0"><hr class="dropdown-divider" /></li>
          <li class="dropdown-item" *ngIf="quantidade > 0" [routerLink]="['/carrinho']">
            <strong>TOTAL: {{ total | currency: "BRL" }}</strong>
          </li>
        </ul>
      </div>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>